$break-xs-max: 500px;
$break-sm-max: 899px;

.container {
  max-width: 960px;
  margin: auto;

  @media (max-width: $break-sm-max) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.logo-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

  @media (max-width: $break-sm-max) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .fa-github {
    font-size: 85px;
    color: #ccc;
  }
}

.search-container {
  max-width: 600px;
  margin: auto;
}

.search-results-container {
  margin-top: 50px;

  .fa-spinner {
    font-size: 30px;
    color: #999;
  }

  .search-results {
    list-style: none;
    padding: 0;
    @include clearfix;
    margin-left: -10px;
    margin-right: -10px;

    @media (max-width: $break-sm-max) {
      margin-left: 0;
      margin-right: 0;
    }

    .search-result-item {
      position: relative;
      padding: 10px;
      width: 31%;
      height: 200px;
      float: left;
      margin: 1%;
      background-color: #fff;
      border-left: 4px solid;
      box-shadow: 0px 1px 7px -3px rgba(0, 0, 0, 0.3);
      overflow: hidden;

      @media (max-width: $break-sm-max) {
        width: 48%;
      }

      @media (max-width: $break-xs-max) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }

    .repo-details {
      position: relative;
      z-index: 1;
    }

    .repo-name {
      margin-top: 0;
      margin-bottom: 5px;
      @include ellipsis(270px);
    }

    .repo-lang {
      font-size: 10px;
      color: #999;
      position: relative;
      top: -12px;

      .dot {
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
      }
    }

    .repo-desc {
      font-size: 12px;
      color: #999;
      max-height: 48px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .card-footer {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 1px solid #ededed;
    }

    .card-footer-item {
      flex-grow: 1;
      flex-basis: 0;
      padding: 10px;
      text-align: center;
      font-size: 13px;
      color: #666;
      cursor: pointer;

      &:hover {
        background-color: #fafafa;
        border-bottom: 0;
      }

      .footer-item-desc {
        font-size: 10px;
        color: #999;
      }
    }

    .contributions-viz {
      position: absolute;
      bottom: 91.5%;
    }
  }
}
