<div class="container">
  <div class="logo-container">
    {{fa-icon "github"}}
  </div>

  {{github-search
    repos=model
    page=page
    searchText=searchText
    onSearchDidChange=(action "setSearchText")
    onPageDidChange=(action "setPage")
    onSearch=(action "showResults")}}
</div>
