<div class="container">
  <div class="logo-container">
    {{fa-icon "github"}}
  </div>

  <div class="search-container">
    {{git-search-form on-search=(action "showResults")}}
  </div>

  <div class="search-results-container">
    {{search-results repos=model}}
  </div>
</div>
