<div class="container">
  <div class="search-container">
    <div class="action-input">
      {{input class="input input-lg" placeholder="Search repos"}}
      <button class="button button-lg">Search</button>
    </div>
  </div>
</div>
